
html {
    scroll-behavior: smooth;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid black;
}

nav {
    background-color: #5F9EA0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0;
    background-color: #eef1f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2c2c2c;
}

section {
    background-color: #eae9e9;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 40px;
    border-radius: 10px;
    border: solid;
    border-color:rgb(149, 141, 132);
    box-shadow: 0 10px 50px rgba(23, 21, 21, 0.1);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-decoration-line: underline;
    font-size: 30pt;
}

h2 {
    text-align: justify;
    font-size: 20pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-line: underline;
}

h3 {
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color: black;
    text-align: justify;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
}

span {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-style: italic;
    font-size: 18px;
    color: black;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 12px 0;
    background-color: #5F9EA0;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.15);
    border-top: 1px solid black;
}

aside {
    position: fixed;
    top: 250px;    
    left: 10px;           
    width: 240px;          
    padding: 15px;
    background-color: #f0f1f3; 
    border: 1px solid #ccc;    
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08); 
    font-size: 14px;             
    color: #333;                 
}

.sommaire li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 10pt;
}

figure {
    text-align: center;
}

figcaption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: underline;
    font-style: oblique;
    font-size: 13pt;
}

.image {
    border: solid;
    border-radius: 10px;
    border-color: #333;
}

#img_viking {
    width: 75%;
    height: 75%;
}

.sommaire h3 {
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
}

#img_drakkar, #img_europeouest {
    width: 60%;
    height: 50%;
}

#img_irlande_1, #img_irlande_2, #img_attaque {
    width: 50%;
    height: 50%;
}

.liste_definition li {
    text-align: justify;
    margin-bottom: 5px;
    margin-right: 20px;
}

table {
    border: 1px solid #333;
    border-collapse: collapse;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td {
    border: 1px solid #444;
    padding: 8px;
    text-align:left;
}

th {
    border: 1px solid #444;
    padding: 8px;
    background-color: #f2f2f2;
    text-align: center;
}

li {
    font-size: 13pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav ul li a:hover {
    color: #ffffff;
}

#indication {
    font-style: oblique;
    font-weight: bolder;
    font-size: medium;
}

.logo {
    left: 0px;
    top: 0px;
    width: 75px;
    position: fixed;
}

#img_atlantique, #img_vinland, #img_clontarf,
#img_stamford {
    width: 60%;
    height: 60%;
}